---
import Ancord from "./Ancord.astro";
import CopyRight from "./CopyRight.astro";
---

<footer class="relativo">
  <h2 class="text-[15px] font-bold xl:text-xl xl:absolute">Get in touch</h2>
  <div class="flex flex-row justify-between xl:items-center gap-4">
    <div class="flex flex-col">
      <Ancord href="mailto:hello@notalias.com" text="Email" />
      <Ancord href="https://wa.me/523121447976" text="WhatsApp" />
    </div>
    <div class="flex flex-col">
      <Ancord href="https://www.linkedin.com/company/notalias" text="LinkedIn" />
      <Ancord
        href="https://www.instagram.com/notalias__/"
        text="Instagram"
      />
    </div>
    <CopyRight className="hidden xl:block" />
  </div>
  <CopyRight className="xl:hidden" />
</footer>

<script>
  const date = document.getElementById("date") as HTMLParagraphElement;
  date.textContent = new Date().getFullYear() + " ©";
</script>
